<h1>{{ day }}</h1>

<table>
    {% for reservation in object_list %}
    <tr>
        <td>{{ reservation.reservation.member }}</td>
        <td>{{ reservation.reservation.party_size }}</td>
        <td>
            {% for guide in reservation.guides.all %}
                {{ guide }}, 
            {% endfor %}
        </td>
        <td>
            {% for camp in reservation.camps.all %}
                {{ camp }}, 
            {% endfor %}
        </td>
        {% if reservation.is_first_day %}
            <td>Arriving</td>
        {% elif reservation.is_last_day %}
            <td>Departing</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<p>
{% if previous_day %}
    Previous Day: 
    <a href="{% url 'reservation_day_archive' previous_day|date:"Y" previous_day|date:"b" previous_day|date:"d" %}">
{{ previous_day }}
    </a>
{% endif %}
{% if previous_day and next_day %}--{% endif %}
{% if next_day %}
    Next Day: 
    <a href="{% url 'reservation_day_archive' next_day|date:"Y" next_day|date:"b" next_day|date:"d" %}">
        {{ next_day }}
    </a>
{% endif %}
</p>
