{% if current_reservation %}
<h1>{{ current_reservation|title }}</h1>


{# taking object as dict from 'model_to_dict' #}
    <table>
    {% for field, value in reservation_info.items %}
        <tr>
            <td>{{ field }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}   
    </table>

    </br></br>


{# taking object as serial (~list of dicts) and treating as dict #}
    <table>
    {% for field, value in res_serial.0.fields.items %}
        <tr>
            <td>{{ field }}: </td>
            <td>{{ value }}.</td>
        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No reservation info.</p>
{% endif %}

