{% extends 'bookings/base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h1>Delete Member</h1>
        <p>Are you sure you want to delete the member {{ member }}?</p>
        <form action="{% url 'member_delete' pk=member.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-lf btn-danger" title="Delete">Delete</button>
            <a href="{% url 'member_detail' pk=member.id %}">
                <button type="button" class="btn btn-lf btn-default" title="cancel">Cancel</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}
